* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-height: 15rem;
  --card-width: calc(var(--card-height) * 0.65533);

  @media only screen and (min-width: 1024px) and (orientation: portrait) {
    --card-height: 25rem;
  }

  @media only screen and (min-width: 750px) and (orientation: portrait) {
    --card-height: 20rem;
  }

  @media only screen and (max-width: 530px) and (orientation: portrait) {
    --card-height: 11rem;
  }
  @media only screen and (max-height: 530px) and (orientation: landscape) {
    --card-height: 10rem;
  }
  @media only screen and (max-height: 400px) and (orientation: landscape) {
    --card-height: 8rem;
  }
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;

  //   @media only screen and (max-width: 850px) and (orientation: landscape) {
  //     font-size: 7px;
  //   }

  //   @media only screen and (max-width: 660px) and (orientation: landscape) {
  //     font-size: 5px;
  //   }
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    $bg-color-2 0%,
    $bg-color-1 100%
  );
}
