.table {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;

    @media only screen and (max-width: 750px) and (orientation: portrait) {
        justify-content: space-between;
    }

    &__croupier,
    &__player {
        position: relative;
    }
}

.game-controller {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;

    @media only screen and (orientation: portrait) {
        flex-direction: column;
        align-items: center;
    }

    // @media only screen and(max-width: 850px) {  sprawdzić co to robiło
    //     width: auto;
    // }

}