.bets {
    width: 30rem;

    @media only screen and (orientation: portrait) {
        margin: 3rem 0;
    }

    @media only screen and (max-width: 530px) and (orientation: portrait) {
        width: 25rem;
        margin: 1rem 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 1.8rem;

        @media only screen and (max-width: 530px) and (orientation: portrait) {
            font-size: 1.4rem;
        }
    }

    &__current-box {
        display: flex;
        justify-content: space-between;
        background-color: $color-lightblue;
        border: 1px solid black;
        border-radius: 5px;
        align-items: center;
        overflow: hidden;
        box-shadow: $shadow-big;

        &:not(:last-child) {
            margin-bottom: .3rem;
        }
    }

    &__value {
        width: 50%;
        text-align: right;
        border: none;
        background-color: $color-lightblue;
        transition: all 0.3s linear;

        padding-right: 1rem;

        &--input {
            align-self: stretch;
            font-size: inherit;

            &:focus {
                background-color: $color-lightblue-darker;
                outline: none;
                border: none;
            }
        }
    }

    &__desc {
        padding: 1.1rem 0 1.1rem 1.1rem;
    }

    &__btn-box {
        display: flex;
    }

    &__btn {
        text-transform: uppercase;
        font-family: inherit;
        border: none;
        flex: 1;
        text-align: center;
        padding: 1.3rem 0;
        font-size: 2.2rem;
        box-shadow: $shadow-big;
        border-radius: 5px;
        cursor: pointer;

        @media only screen and (max-width: 530px) and (orientation: portrait) {
            font-size: 1.8rem;
        }

        &:focus {
            outline: none;
        }


        &:active {
            background-color: $btn-color-1;
            color: $color-black;
        }

        &:not(:last-child) {
            margin-right: 0.5rem;
        }

        &--accept {
            background-color: $btn-color-1;

            &:active {
                background-color: $color-black;
                color: $color-white;
            }
        }

        &--all-in {
            background-color: black;
            color: $color-white;
        }
    }
}