.background-logo {
    position: absolute;
    top: 37.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.logo {
    height: 35rem;

    @media only screen and(max-width: 1024px) {
        height: 30rem;
    }

    @media only screen and(max-width: 900px) {
        height: 25rem;
    }

    @media only screen and(max-width: 600px) {
        height: 20rem;
    }
}

.line {
    fill: transparent;
}

.text {

    &--1,
    &--2,
    &--3 {
        text-anchor: middle;
        font-size: 40px;
        text-transform: uppercase;
    }

}

.snippet {
    &__center {
        fill: greenyellow;
        stroke: green;
    }

    &__left,
    &__right {
        fill: yellowgreen;
        stroke: green;
        stroke-width: 2px;
    }

    &__left {
        &-back {
            stroke: green;
            stroke-width: 2px;
            fill: greenyellow;
        }
    }

    &__right {
        &-back {
            stroke: green;
            stroke-width: 2px;
            fill: greenyellow;
        }
    }
}