//variables

//colors:
$bg-color-1: #007f5f;
$bg-color-2: #2b9348;

// $bg-color-2: #506c5f;
// $bg-color-1: #6b9080;

$btn-color-1: #CED4DA;
$btn-color-2: #495057;

$color-white: #fff;
$color-black: #000;
$color-lightblue: lightblue;
$color-lightblue-darker: #80c3d8;

$shadow-big: 0 0 .8rem rgba($color-black, 0.8);
$shadow-small: 0 0 .5rem rgba($color-black, 0.8);