.action {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 10rem;
        height: 13rem;
        border-radius: 5px;
        color: $btn-color-2;
        background-color: $btn-color-1;
        background-color: $color-lightblue-darker;
        box-shadow: $shadow-big;
        border: 1px solid black;
        cursor: pointer;
        margin: 0 2rem;

        @media only screen and (max-width: 530px) and (orientation: portrait) {
            width: 8rem;
            height: 10.5rem;
            margin: 0 1rem;
        }

        &:focus {
            outline: none;
        }

        &:active {
            background-color: $color-lightblue;
        }

        &:active .icon,
        .btn__txt {
            fill: $color-lightblue-darker;
        }

        &:active .btn__txt {
            color: $color-lightblue-darker;
        }

        &:active .btn__line {
            stroke: $color-lightblue-darker;
        }

    }
}

.btn {
    &__txt {
        color: $color-lightblue;
        text-transform: uppercase;
        margin-top: 1.1rem;
        font-size: 1.6rem;
        font-weight: bold;

        &::selection {
            background-color: none;
        }
    }

    &__line {
        stroke: $color-lightblue;
        stroke-width: 2.5rem;
    }
}


.icon {
    fill: $color-lightblue;

    &--card {
        width: 80%;
    }

    &--double {
        width: 70%;
    }
}