.background {
  position: absolute;
  width: 70%;
  max-width: 98rem;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  &__box {
    position: absolute;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 100%;
    top: 35%;
    transform: translateY(-50%);

    @media only screen and (orientation: portrait) {
      top: 22.5%;
    }
  }

  &__logo {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}

.text {
  &--1,
  &--2,
  &--3 {
    text-anchor: middle;
    font-size: 40px;
    text-transform: uppercase;
  }
}

.snippet {
  &__center {
    fill: greenyellow;
    stroke: green;
  }

  &__left,
  &__right {
    fill: yellowgreen;
    stroke: green;
    stroke-width: 2px;
  }

  &__left {
    &-back {
      stroke: green;
      stroke-width: 2px;
      fill: greenyellow;
    }
  }

  &__right {
    &-back {
      stroke: green;
      stroke-width: 2px;
      fill: greenyellow;
    }
  }
}

.line {
  fill: transparent;
}
