.rules {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4.2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    color: $color-white;
    background-image: linear-gradient(
      to right bottom,
      $bg-color-2 0%,
      $bg-color-1 100%
    );
    transform: translateX(-200vw);
    transition: all 0.3s linear;
    z-index: 15;
    @media only screen and (max-width: 550px) and (orientation: portrait) {
    }
    padding: 2rem;
  }

  &__page {
    width: 70%;
    max-width: 100rem;
    @media only screen and (max-width: 840px) and (orientation: landscape),
      (max-width: 750px) and (orientation: portrait) {
      width: 100%;
      padding: 0 2rem;
      position: relative;
      display: none;

      &--active {
        display: block;
      }
    }
  }
  &__pagination {
    position: absolute;
    bottom: 5%;
    display: none;
    background-color: transparent;
    border: none;
    color: $color-white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 3;
    cursor: pointer;
    &--prev,
    &--next {
      right: 15%;
    }

    @media only screen and (max-width: 840px) and (orientation: landscape),
      (max-width: 750px) and (orientation: portrait) {
      display: block;
    }

    &:focus {
      outline: none;
    }
  }
  &__article {
    width: 100%;
    margin-bottom: 2rem;
  }

  &__btn {
    position: absolute;
    z-index: 20;
    top: 3%;
    left: 3%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    border-radius: 50%;
    font-size: 3rem;
    border: 2px solid $color-white;
    transition: all 0.3s linear;

    @media only screen and (max-width: 850px) {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 2.1rem;
    }

    &::before {
      content: "?";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      color: $color-white;
      transform: translate(-50%, -50%);
      transition: all 0.3s linear;
    }
  }

  &__checkbox {
    display: none;

    &:checked ~ .rules__container {
      transform: translateX(0);
    }

    &:checked + .rules__btn::before {
      content: "X";
    }
  }

  &__close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3px;
      height: 100%;
      background-color: white;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.active-rules {
  transform: translateX(-100%);
}
.text {
  &__title {
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.6rem;
    margin: 0 0 1.7rem 0;

    &--primary {
      font-size: 3.5rem;

      @media only screen and (max-width: 1024px) {
        font-size: 2.5rem;
      }
    }

    &--secondary {
      font-size: 2.5rem;
      @media only screen and (max-width: 750px) {
        font-size: 2rem;
      }
    }

    &--tertiary {
      font-size: 1.9rem;
      @media only screen and (max-width: 750px) {
        font-size: 1.5rem;
      }
    }
  }

  &__paragraph {
    color: $color-white;
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
    @media only screen and (max-width: 750px) {
      font-size: 1.2rem;
    }

    &--margin-bottom {
      line-height: 2rem;
      margin-bottom: 1.8rem;
    }
  }
}
